html {width: 297mm; font-size: 16px}

h6 {background-color: #3080ff; color:#ffffff; font-size:1.0em;}
h5 {background-color: #3080ff; color:#ffffff; font-size:1.25em;}
h4 {background-color: #2766cc; color:#ffffff; font-size:1.50em;}
h3 {background-color: #2766cc; color:#ffffff; font-size:1.75em;}
h2 {background-color: #1e50a2; color:#ffffff; font-size:2.0em;}
h1 {background-color: #1e50a2; color:#ffffff; font-size:2.25em;}

h1, h2, h3, h4, h5, h6 {padding-left:0.3em;}

pre {margin-left:1em; border-left-width: 0.25em; padding-left:0.5em; border-left-style:solid; border-left-color:#003fa3;}
blockquote {margin-left:1em; border-left-width: 0.25em; padding-left:0.5em; border-left-style:solid; border-left-color:#627ba3}
th {background-color: #e5f3fd; color:#000000}
#TOC {
  border-top-width: 0.5em; padding-top:1em; border-top-style:solid; border-top-color:#3080ff;
  }
tr.odd {background-color: #dddddd;}
a:link {color:#1e50a2}
a:hover {color:#3080ff}
a:visited{color:#3080ff}
a:active{color:#1e50a2}

h1 ~ p,h2 ~ p,h3 ~ p,h4 ~ p,h5 ~ p,h6 ~ p {
  margin-left:1em;
}